body {
  margin: 0;
  padding: 8px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 20px 0 0;
}

h1,
h2 {
  margin: 0;
}

ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  box-shadow: 0 4px 10px black;
}

button:hover,
button:focus,
button:active {
  box-shadow: 0 4px 16px 4px rgba(31, 38, 135, 0.37);
  opacity: 1;
}

.flexGrow {
  flex-grow: 1;
}
